.edit-body-und-0-value{
	width:50%;
}

#insert-code-button{
	cursor: pointer;
	padding: 4px 12px;
	margin-bottom: 1em;
	margin-right: 1em;
	color: #595959;
	text-align: center;
	font-weight: normal;
	font-size: 1.077em;
	font-family: "Lucida Grande", Verdana, sans-serif;
	border: 1px solid #e4e4e4;
	border-bottom: 1px solid #b4b4b4;
	border-left-color: #d2d2d2;
	border-right-color: #d2d2d2;
	background: #d0d0d0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	text-decoration: none;
	margin-left:8px;
}

.form-type-textarea label{
	padding:8px !important;
}


.codeBlock{
	padding-left:20px;
}

#node-preview-syntax{
	padding:30px;
	overflow: scroll;
}