// New grid containing medium styles
/* Grid HTML Classes */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 80.0em;
  width: 100%;
  *zoom: 1; 
}
  